body {
  background-color: #444444;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#000), to(#333)); 
  background-image: -webkit-linear-gradient(left top, #000, #333);
  background-image: -moz-linear-gradient(left top, #000, #333);
  overflow-x: hidden;
}
 
#info {
  position: absolute;
  z-index: 1;
  left: 25px;
  top: 25px;
}
 
.frame{
  fill: none;
  pointer-events: all;
}

svg {
  position: absolute;
}

.feature {
  fill: #6CCC00;
  stroke: #fff;
  stroke-width: .5px;
}
 
.star {
  fill: #fff;
  stroke: rgba(255, 255, 255, .5);
  stroke-width: .25px;
}

.container {
  z-index: 5;
  height: 90%;
  width: 70%;
  margin: 10% 15% 0 15%;
  background: rgba(255, 255, 255, .1);
}

h1 {
  font-size: 30px;
  color: #fff;
}
